.eventcards{
    display: flex;
    min-width: 500px;
    color: white;
    font-weight: 400;
    justify-content: center;
}
.eventcards h2{
    margin: 0;
}
.sl_num{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.details_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}
.date_place{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 225px;
}
.text_centered{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.event_desc {
    display: -webkit-box;
    max-width: 500px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.event_desc:hover{
    -webkit-box-orient: inherit;

    overflow: visible;
    -webkit-line-clamp: none;
    line-clamp: none;
    max-width: fit-content;
}